.movies {
  background: #131722;
  padding: 2rem 50px;

  .wrapper-movies-block {
    padding: 1rem;

    .title-block {
      .title {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      margin-bottom: 1.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .wrapper-movies-filter-block {
    margin-bottom: 2rem;
  }

  .wrapper-posters-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem 1.25rem;
    grid-auto-flow: row;

    .line{
      grid-column-start: 1;
      grid-column-end: 3;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}
