.wrapper-movies-filter-block {
  margin-bottom: 1rem;

  .movies-filter {
    display: flex;
    justify-content: space-between;

    .movies-filter-checkbox {
      .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: 15px;
      }

      label {
        display: inline;
      }
    }

    .movies-filter-selects {
      display: flex;

      .ant-select-selection {
        background: none;
        border: none;
        max-width: 220px;
        width: 100%;
        outline: none;
        box-shadow: none;
        line-height: normal;
        height: auto;

        &:first-child {
          margin-right: 0.5rem;
        }

        .ant-select-selection__rendered {
          height: auto;

          .ant-select-selection-selected-value {
            float: right;
          }
        }

        .ant-select-arrow {
          color: inherit;
        }
      }
    }
  }
}

.ant-select-dropdown {
  background: #1D212D;

  .ant-select-dropdown-menu-item {

    &:hover {
      background: none;
      color: @primary-color;
    }

    &.ant-select-dropdown-menu-item-selected {
      background: @primary-color;
      color: #ffffff;
    }
  }
}