@import "assets/fonts/stylesheet.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-lazy-load-image-component/src/effects/blur.css";

.lazy-load-image-background.blur.lazy-load-image-loaded {
  transition: filter 0.7s;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0E0D12 !important;
  margin: 0;
}

.mr-auto {
  margin-right: auto !important;
}

.layout-block {
  padding-left: 50px;
  padding-right: 50px;
}

html {
  div.ant-notification-notice {
    background: #0E0D12;
    color: rgba(255, 255, 255, 0.4);

    .ant-notification-notice-close {
      color: rgba(255, 255, 255, 0.4);
    }

    .ant-notification-notice-message {
      color: #ffffff;
    }
  }
}